<tr>
  <td></td>
  <td <%= raw columns['columnCoords'] ? '' : 'style="display: none"'%>></td>
  <td <%= raw columns['columnCourseMag'] ? '' : 'style="display: none"'%>></td>
  <td <%= raw columns['columnHeading'] ? '' : 'style="display: none"'%>></td>
  <td <%= raw columns['columnSegmentDistance'] ? '' : 'style="display: none"'%>><%= total_distance %></td>
  <td <%= raw columns['columnGroundSpeed'] ? '' : 'style="display: none"'%>></td>
  <td <%= raw columns['columnSegmentDuration'] ? '' : 'style="display: none"'%>><%= raw total_duration %></td>
  <td <%= raw columns['columnSubTotalDuration'] ? '' : 'style="display: none"'%>></td>
</tr>
