<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      body {
        font-size: 20px;
      }
      .header-top-left {
        width: 171px;
        float: left;
        height: 51px;
        padding-right: 50px;
      }
      .header-top-right {
        height: 51px;
      }
      table {
          border-collapse: collapse;
      }
      table, th, td {
         border: 1px solid black;
      }
      td {
        font-size: 20px;
        padding: 5px;
      }
      .text-right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%">
      <img class="header-top-left" src="<%= File.join(Rails.root, 'public', 'img', 'lecimy_icon.png') %>" />
      <h1 class="header-top-right"><%= @intl['flightPlan'] %></h1>
    </div>
    <div>
      <hr />
      <%= @intl['wind'] %>: <%= @wind_speed %> <%= @wind_direction %>, <%= @intl['tas'] %>: <%= @tas %>
      <hr />

      <table>
      <%= render 'pdf_header', columns: @print_settings, intl: @intl %>

      <% @navigation_data['waypoints'].each do |waypoint| %>
        <%= render 'pdf_row', waypoint: waypoint, columns: @print_settings %>
      <% end %>

      <%= render 'pdf_footer',
            columns: @print_settings,
            total_duration: @navigation_data['totalDuration'],
            total_distance: @navigation_data['totalDistance']
      %>
      </table>

      <br />
      <br />

      <table>
      <% @navigation_data['waypoints'].select{ |wp| wp['radio'] }.each do |waypoint| %>
        <tr>
          <td><%= waypoint['name'] %></td>
          <td><%= waypoint['radio'] %></td>
          <td><%= waypoint['elevation'] %></td>
        </tr>
      <% end %>
      <table>

    </div>
  </body>
</html>
