<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      .header-top-left {
        width: 171px;
        float: left;
        height: 51px;
        padding-right: 50px;
      }
      .header-top-right {
        height: 51px;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%">
      <img class="header-top-left" src="<%= File.join(Rails.root, 'public', 'img', 'lecimy_icon.png') %>" />
      <h1 class="header-top-right">FLIGHT PLAN</h1>
    </div>
    <div>
      <hr />
      <%= @wind_speed %> <%= @wind_direction %> <%= @tas %>
      <hr />
      <table>
        <tr>
          <th>Waypoint</th>
          <th>Course [G]</th>
          <th>Course [M]</th>
          <th>Heading [M]</th>
          <th>T</th>
          <th>S</th>
        </tr>

<% @navigation_data['waypoints'].each do |waypoint| %>
        <tr>
          <td><%= waypoint['name'] %></td>
          <td><%= waypoint['course'] %></td>
          <td><%= waypoint['courseMag'] %></td>
          <td><%= waypoint['heading'] %></td>
          <td><%= waypoint['segmentDuration'] %></td>
          <td><%= waypoint['segmentDistance'] %></td>
        </tr>
<% end %>

      </table>
    </div>
  </body>
</html>
