<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      .header-top-left {
        width: 171px;
        float: left;
        height: 51px;
        padding-right: 50px;
      }
      .header-top-right {
        height: 51px;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%">
      <img class="header-top-left" src="<%= File.join(Rails.root, 'public', 'img', 'lecimy_icon.png') %>" />
      <h1 class="header-top-right">PLAN LOTU</h1>
    </div>
    <div>
      <hr />
      Wiatr: <%= @wind_speed %> <%= @wind_direction %>, TAS: <%= @tas %>
      <hr />
      <table>

      <%= render 'pdf_header', columns: @print_settings %>

      <% @navigation_data['waypoints'].each do |waypoint| %>
        <%= render 'pdf_row', waypoint: waypoint, columns: @print_settings %>
      <% end %>

      </table>

<ul>
<% @navigation_data['waypoints'].select{ |wp| wp['radio'] }.each do |waypoint| %>
  <li><%= waypoint['name'] %> <%= waypoint['radio'] %> <%= waypoint['elevation'] %></li>
<% end %>
</ul>

    </div>
  </body>
</html>
